nav.navbar.navbar-expand-lg.nav2
    a.navbar-brand(href='#') 
        img(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/cg-af-primary-rgb-207x95.png', width='auto', height='95', alt='')   
    form.search
        input(type='search', placeholder='Enter a search term or tickel', aria-label='Search',style="font-style:italic; font-size:15px;")
        //- button.search__btn(type='submit')
        img.search__btn__img(src="https://www.americanfunds.com/apps/nextgen/docroot/images/new-assets/search.png", alt="search") 
    #navbarSupported

        ul.nav.justify-content-end
            li.nav-item.dropdown
                a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | MY ACCOUNTS
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    .dropdown-divider
                    a.dropdown-item(href='#') Something else here
            li.nav-item.dropdown
                a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | INVESTMENTS
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    .dropdown-divider
                    a.dropdown-item(href='#') Something else here
            li.nav-item.dropdown
                a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | INSIGHTS
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    .dropdown-divider
                    a.dropdown-item(href='#') Something else here
            li.nav-item.dropdown
                a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | PRODUCTS
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    .dropdown-divider
                    a.dropdown-item(href='#') Something else here
            li.nav-item.dropdown
                a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | PLANNING
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    .dropdown-divider
                    a.dropdown-item(href='#') Something else here
            li.nav-item.dropdown
                a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | SERVICES & SUPPORT
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    .dropdown-divider
                    a.dropdown-item(href='#') Something else here
            li.nav-item
                a.nav-link(href='#') FORMS

