.nav1 {
    background-color: black;
    height: 32px;
    .col-lg-4.col-md-4,.left,ul,li,a{
        height: inherit;
        margin: 0;
        padding: 0;
    }
    .col-lg-4.col-md-4{
        a{
            padding: 10px 35px 10px 35px;
        }
    }
    .left {
        ul{
            display:flex;
            justify-content: flex-end;
        }

        background-color: black;
        li{
        width: 153px;
        text-align: center;
        border-left: 1px solid rgb(255, 255, 255);
            a{
                padding: 10px 45px 10px 45px;
            }
        }
    }
    a {
        color: white;
        font-size: 12px;
        font-weight: 500;
    }
    li:hover {
        background-color: #009adf;
    }
    .login {
        background-color: #009adf;
    }
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
@media (max-width: 768px){
    .nav1{
        .col-lg-4.col-md-4{
            text-align: center;
            padding: 0;
        }
        .left{
            ul{
                justify-content: center;
            }
        }
    }
}

.nav2{
    #navbarTogglerDemo01{
        text-align: end;
        justify-content: flex-end;    
    }
    a {
        color: black;
        font-weight: bold;
        font-size: 14px;
    }
    a:hover {
        background-color: #009adf;
        color: white;
    }
    .search{
        input {
            border: 0;
            border-bottom: 1px solid rgb(0, 0, 0);
            width: 200px;
        }
        &__btn{
            width: 28px;
            height: 28px;
            &__img{
                width: 28px;
                height: 28px;
            }
        }
    }
    @media (max-width:767px){
        #navbarTogglerDemo01{
            text-align: center;
            .search{
                padding-top: 60px;
            }    
        }
    }

    @media (max-width:1024px) and (min-width: 768px){
        #navbarTogglerDemo01{
            ul{
                width: 100%;
                position: absolute;
                justify-content: space-around;
                margin-right: 15px;
                left: 12px;
                top: 90px;
                a{
                    font-size: .7rem;
                }
            }
        }
    }


}
