extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="nav2.css")

block pageTitle
    title Sticky Nav Page

block content
    .content
        include ../../components/nav2/nav2.pug

block pageScripts
    script(src="stickynavpage.js")