.article2
    article
        h1 Open a 529 savings plan
        p Work with your financial advisor to open a CollegeAmerica 529 savings plan. He or she will help you to understand your choices and choose the best investment option for your family. Plus, working with a professional may give you some extra time to spend with your favorite people — your kids. If you don't have a financial advisor, you can use our tool to find one. 
        a(href="") FIND AN ADVISOR &#8594