.containers{
    background-color: #0099e2;
    &__article {
        color: white;
        margin: auto;
        h2 {
            font-size: 2rem;
            line-height: 2;
        }
        p{
            font-size: 1.4rem;
            line-height: 1.6;
        }
        a{
            color: #fff;
            font-size: 1.2rem;
            font-weight: bolder;
        }
    }
    .col-lg-5{
        margin: auto;
    }
    .img{
        .content{
            position: relative;
            background-color: #fff;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        }
        img{
            width: 100%;
        }
        max-width: 580px;
        h2{
            padding-top: 25px;
            font-size: 1.5rem;
        }
        li{
            border-top: 2px solid #f7f7f7;
            list-style-type: none;
            font-size: 1.3rem;
            padding-bottom: 35px;

        }
    }
}

@media (max-width: 990px){
    .containers{
        padding: 0px 10px 10px 10px;
        &__article{
            margin-right: 0;
            max-width: 860px;
            padding: 50px 50px;
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.1rem;
            }
            a{
                font-size: 1rem;
            }
        }
        .img{
            max-width:860px;
            margin: auto;
            img{
                width: 100%;
            }
        }
    }
}


