.containers{
    background-color: #0099e2;
    overflow-x: hidden;
    &__article {
        color: white;
        padding-top:177px;
        padding-left: 166px;
        h2 {
            font-size: 2rem;
        }
        p{
            font-size: 1.4rem;
            line-height: 1.6;
        }
    }
    .img{
        height: inherit;
        img{
            max-width: auto;
        }
        max-width: 580px;
        &__article{
            padding-bottom: 66px; 
            background-color: white;
            color: black;
            h2{
                padding-left: 27px;
                padding-top: 25px;
                font-size: 1.5rem;
            }
            p{
                padding-left: 27px;
                font-size: 1.3rem;
            }
        }
    }
}

@media (max-width: 990px){
    .containers{
        &__article{
            padding-top: 83px;
            padding-left: 108px;
            padding-right: 108px;
        }
        .img{
            padding-left: 108px;
            padding-right: 108px;
            max-width:955px;
            img{
                width: auto;
            }
        }
    }
}


