.containers
  .container
    .row
        article.col-lg-5.containers__article
            span CHOOSE
            h2 CollegeAmerica 529 savings plan
            p You trust your doctor with your health and your mechanic with your car. You shouldn’t settle for anything less when you’re deciding where to invest your money.
                br
                br
                | Trusted by more than 1 million families nationwide, CollegeAmerica is the country’s largest 529 savings plan,1 with more than $60 billion invested.
            a(href="$") Learn more &#8594
        .col-lg-6.py-3.py-sm-5.py-lg-0
            article.img
                img(src="./images/kid.webp", alt="Kid raising hand image")
                .content
                  ul(style="padding-right: 30px;")
                    li 
                      h2 We&apos;re helping more than 2.3 million future students pursue their dreams. 
                        sup 3
                    li
                      | Any adult who&apos;s a U.S. citizen or legal resident can open a CollegeAmerica&nbsp;529 savings plan, regardless of income.
                    li
                      | The earnings in a 529 savings plan are exempt from federal taxes if withdrawals are used for qualified expenses. And some states offer tax benefits as well.
                    li
                      | CollegeAmerica has among the lowest fees in the industry.
                      sup 4