.containers(itemscope,id="choose")
  .container
    .row
        article.col-lg-5.containers__article
            span(style="font-weight:bold;") CHOOSE
            h2.containers__heading(itemprop="savings plan") CollegeAmerica 529 savings plan
            p.containers__para You trust your doctor with your health and your mechanic with your car. You shouldn’t settle for anything less when you’re deciding where to invest your money.
                br
                br
                | Trusted by more than 1 million families nationwide, CollegeAmerica is the country’s largest 529 savings plan,1 with more than $60 billion invested.
            a.containers__a(href="$") Learn more &#8594
        .col-lg-6.py-3.py-sm-5.py-lg-0
            article.containers__article2
                img.containers__img(src="../images/kid.webp", alt="Kid raising hand image")
                .containers__content
                  ul(style="padding-right: 30px;")
                    li.containers__list 
                      h2.containers__heading2(itemprop="students savings paln") We&apos;re helping more than 2.3 million future students pursue their dreams. 
                        sup 3
                    li.containers__list 
                      | Any adult who&apos;s a U.S. citizen or legal resident can open a CollegeAmerica&nbsp;529 savings plan, regardless of income.
                    li.containers__list 
                      | The earnings in a 529 savings plan are exempt from federal taxes if withdrawals are used for qualified expenses. And some states offer tax benefits as well.
                    li.containers__list 
                      | CollegeAmerica has among the lowest fees in the industry.
                      sup 4
