.containers
    .row
        article.col-lg-5.containers__article
            h2 CollegeAmerica 529 savings plan
            p You trust your doctor with your health and your mechanic with your car. You shouldn’t settle for anything less when you’re deciding where to invest your money.
                br
                br
                | Trusted by more than 1 million families nationwide, CollegeAmerica is the country’s largest 529 savings plan,1 with more than $60 billion invested.
            a(href="") Learn more ->
        .img.col-lg-7
            img.img-fluid(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/photos/Children-raising-hands-in-school-1.jpg", alt="")
            article.img__article
                h2 We're helping more than 2.3 million future students pursue their dreams.
                br
                br
                p Any adult who's a U.S. citizen or legal resident can open a CollegeAmerica 529 savings plan, regardless of income.
                    br
                    br
                    | The earnings in a 529 savings plan are exempt from federal taxes if withdrawals are used for qualified expenses. And some states offer tax benefits as well.
                    br
                    br
                    | CollegeAmerica has among the lowest fees in the industry.