.containers{
    background-color: #0099e2;
    overflow-x: hidden;
    &__article {
        color: white;
        margin: auto;
        margin-right: -115px;
        h2 {
            font-size: 2rem;
            line-height: 2;
        }
        p{
            font-size: 1.4rem;
            line-height: 1.6;
        }
        a{
            color: #fff;
            font-size: 1.2rem;
            font-weight: bolder;
        }
    }
    .col-lg-5{
        margin: auto;
    }
    .img{
        
        // margin-left: -20px;
        height: inherit;
        img{
            width: 100%;
        }
        max-width: 580px;
        &__article{
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
            padding-bottom: 66px; 
            background-color: white;
            color: black;
            h2{
                padding-left: 27px;
                padding-top: 25px;
                font-size: 1.5rem;
            }
            p{
                padding-left: 27px;
                font-size: 1.3rem;
            }

        }
    }
}

@media (max-width: 990px){
    .containers{
        padding: 0px 10px 10px 10px;
        &__article{
            margin-right: 0;
            max-width: 860px;
            padding: 50px 50px;
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.1rem;
            }
            a{
                font-size: 1rem;
            }
        }
        .img{
            max-width:860px;
            margin: auto;
            img{
                width: 100%;
            }
        }
    }
}


