extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="carousel.css")

block pageTitle
    title Sticky Nav Page

block content
    .content
        include ../../components/carousel/carousel.pug

block pageScripts
    script(src="carousel.js")