.first{ 
    //height: auto;
    background: #00AEAA; 
}
.first:hover{
    background:rgb(54, 138, 136);
}
.second{ 
max-height: 135px;
//height: auto;
background: #00294B; 
}
.second:hover{
    background: rgb(11, 28, 43);
}
.third{ 
max-height: 135px;
//height: auto;
background: #0099E2;
}
.third:hover{
    background: rgb(0, 130, 190);
}

.col {
    padding: 0px 0px 0px 0px !important;
}
a{
    font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.subtitle{
    font-size: 13px;
    color: #fff;
}


@media (min-width: 900px) {
    .con{
    margin: 0px 62px 0px 62px;
    }
}
.test{
    height: 2000px;
}
