.nav3{
    background-color: white;
    &__first{ 
        //height: auto;
        background: #00AEAA; 
    }
    &__first:hover{
        background:rgb(54, 138, 136);
    }
    &__second{ 
    max-height: 135px;
    //height: auto;
    background: #00294B; 
    }
    &__second:hover{
        background: rgb(11, 28, 43);
    }
    &__third{ 
    max-height: 135px;
    //height: auto;
    background: #0099E2;
    }
    &__third:hover{
        background: rgb(0, 130, 190);
    }
    
    .col {
        padding: 0px 0px 0px 0px !important;
    }
    a{
        font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
    }
    
    .title{
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
    
    .subtitle{
        font-size: 13px;
        color: #fff;
    }
    
}

@media (min-width: 1160px) {
    .nav3{
        ul{
            padding-left: 135px;
            padding-right: 135px;
        }

    }
}

@media (max-width: 1159px) {
    .nav3{
        ul{
            padding-left: 0;
            padding-right: 0;
        }

    }
}
