.nav3{
    background-color: white;
    &__pad1{
        padding-right: 0;
    }
    &__pad2{
        padding: 0;
    }
    &__first{ 
        background: #00AEAA; 
    }
    &__second{ 
        max-height: 135px;
        background: #00294B; 
    }
    &__third{ 
        max-height: 135px;
        background: #0099E2;
    }
    &__first:hover{
        background:rgb(54, 138, 136);
        border-bottom: 5px solid rgb(153, 153, 153); 
    }
    &__second:hover{
        background: rgb(11, 28, 43);
        border-bottom: 5px solid rgb(153, 153, 153); 
    }
    &__third:hover{
        background: rgb(0, 130, 190);
        border-bottom: 5px solid rgb(153, 153, 153); 
    }
    &__span{
        font-size: 21px;
        font-weight: bold;
        color: #fff;
    }
    &__sub{
        font-size: 13px;
        color: #fff;
        font-weight: bold;
    }

    @media (min-width: 1160px) {
        &__list{
            padding-left: 135px;
            padding-right: 135px;
        }
    }
    
    @media (max-width: 1159px) {
        &__list{
            padding-left: 0;
            padding-right: 0;
        }
    }
}


