.nav3.sticky-top
  ul.nav.row
    li.nav-item.col.nav3__pad1
      a.nav-link.nav3__first(href='#')
        .py-4
          span LEARN
          p.subtitle.d-none.d-sm-block  Based on your life stage
    li.nav-item.col.nav3__pad2
        a.nav-link.nav3__second(href='#')
          .py-4
            span PLAN
            p.subtitle.d-none.d-sm-block  Using our calculators
    li.nav-item.col.nav3__pad2
      a.nav-link.nav3__third(href='#')
        .py-4
          span CHOOSE
          p.subtitle.d-none.d-sm-block CollegeAmerica
          
