.nav3.sticky-top(itemscope)
  ul.nav.row.nav3__list
    li.nav-item.col.nav3__pad1
      a.nav-link.nav3__first(href='#learn')
        .py-4
          span.nav3__span LEARN
          p.nav3__sub.d-none.d-sm-block(itemprop="Savings")  Based on your life stage
    li.nav-item.col.nav3__pad2
        a.nav-link.nav3__second(href='#plan')
          .py-4
            span.nav3__span PLAN
            p.nav3__sub.d-none.d-sm-block(itemprop="calculate savings")  Using our calculators
    li.nav-item.col.nav3__pad2
      a.nav-link.nav3__third(href='#choose')
        .py-4
          span.nav3__span CHOOSE
          p.nav3__sub.d-none.d-sm-block(itemprop="College savings") CollegeAmerica

          
