.con.sticky-top
  ul.nav.row
    li.nav-item.col
      a.nav-link.first(href='#')
        .py-4
          span.title LEARN
          p.subtitle.d-none.d-sm-block  Based on your life stage
    li.nav-item.col
        a.nav-link.second(href='#')
          .py-4
            span.title PLAN
            p.subtitle.d-none.d-sm-block  Using our calculators
    li.nav-item.col
      a.nav-link.third(href='#')
        .py-4
          span.title CHOOSE
          p.subtitle.d-none.d-sm-block CollegeAmerica
.test