.modall{
    // background-color: black;
    padding-top: 10px;
    text-align: center;

    &__btn {
        background-color: black;
    }

    &__btn:hover {
        background-color: rgb(77, 75, 75);
    }

}