.slide
    .bd-example(itemscope)
        #carouselExampleCaptions.carousel.slide(data-ride='carousel')
            .indicators.hideMob.showDesk
                ol.carousel-indicators.slide__indicators
                    li.slide__indicatorsli.active(data-target='#carouselExampleCaptions', data-slide-to='0') 
                        a.slide__indicatorsa(href="#") New Parents
                    li.slide__indicatorsli(data-target='#carouselExampleCaptions', data-slide-to='1')  
                        a.slide__indicatorsa(href="#") Growing family
                    li.slide__indicatorsli(data-target='#carouselExampleCaptions', data-slide-to='2')  
                        a.slide__indicatorsa(href="#") Up next, college
                    li.slide__indicatorsli(data-target='#carouselExampleCaptions', data-slide-to='3')  
                        a.slide__indicatorsa(href="#") On campus
                    li.slide__indicatorsli(data-target='#carouselExampleCaptions', data-slide-to='4')  
                        a.slide__indicatorsa(href="#") Grandparents

            .carousel-inner.slide__inner
                .carousel-item.active.slide__item
                    h1.hideDesk.showMob.slide__heading  New parents
                    img.col-md-5(src='../images/1.webp', alt='New parents Slide image')
                    article.col-lg-7.col-md-7.slide__article
                        h1.hideMob.showDesk.slide__heading(itemprop="savings") New parents 
                        p.slide__para You’re dealing with diapers, drool and midnight feedings. Now you're supposed to think about saving for college? We make it easy.
                        h3.slide__subhead Start now. Start small. Baby steps.
                        a.slide__link(href="#") Learn more &#8594
                .carousel-item.slide__item
                    h1.hideDesk.showMob.slide__heading(itemprop="savings")  Growing family
                    img.col-md-5(src='../images/2.webp', alt='Growing family slide image', itemprop="carouselImage1", value="2")
                    article.col-lg-7.col-md-7.slide__article
                        h1.hideMob.showDesk.slide__heading Growing family
                        p.slide__para Now that you have more than one child, it feels like it's time to get serious about saving for their future.
                        h3.slide__subhead Kickstart a new savings plan.
                        a.slide__link(href="#") Learn more &#8594
                .carousel-item.slide__item
                    h1.hideDesk.showMob.slide__heading(itemprop="savings") Up next, college
                    img.col-md-5(src='../images/3.webp', alt='College slide image', itemprop="carouselImage1", value="3")
                    article.col-lg-7.col-md-7.slide__article
                        h1.hideMob.showDesk.slide__heading Up next, college
                        p.slide__para Your child is starting to apply to colleges, and reality is setting in: There’s a gap between what you have and what it costs.
                        h3.slide__subhead Let’s figure out a plan. 
                        a.slide__link(href="#") Learn more &#8594
                .carousel-item.slide__item
                    h1.hideDesk.showMob.slide__heading(itemprop="savings")  On campus
                    img.col-md-5(src='../images/4.webp', alt='Campus slide image', itemprop="carouselImage1", value="4")
                    article.col-lg-7.col-md-7.slide__article
                        h1.hideMob.showDesk.slide__heading On campus
                        p.slide__para With your child on campus, you need to stretch your money now and tackle how to handle the debt that’s coming later.
                        h3.slide__subhead Let’s plan the next step.
                        a.slide__link(href="#") Learn more &#8594
                .carousel-item.slide__item
                    h1.hideDesk.showMob.slide__heading(itemprop="savings")  Grandparents
                    img.col-md-5(src='../images/5.webp', alt='Grandparents slide image', itemprop="carouselImage1", value="5")
                    article.col-lg-7.col-md-7.slide__article
                        h1.hideMob.showDesk.slide__heading Grandparents
                        p.slide__para You adore your grandchildren and want to show it by helping with the costs of college. Best grandparents ever!
                        h3.slide__subhead Here’s how to contribute.
                        a.slide__link(href="#") Learn more &#8594



