.slide
    .bd-example(itemscope).hideMob.showDesk
        #carouselExampleCaptions.carousel.slide(data-ride='carousel')
            .indicators
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleCaptions', data-slide-to='0') 
                        a(href="") New Parents
                    li(data-target='#carouselExampleCaptions', data-slide-to='1')  
                        a(href="") Growing family
                    li(data-target='#carouselExampleCaptions', data-slide-to='2')  
                        a(href="") Up next, college
                    li(data-target='#carouselExampleCaptions', data-slide-to='3')  
                        a(href="") On campus
                    li(data-target='#carouselExampleCaptions', data-slide-to='4')  
                        a(href="") Grandparents

            .carousel-inner
                .carousel-item.active
                    img.col-5(src='./1.png', alt='...', itemprop="carouselImage1", value="1")
                    article.col-7.float-right 
                        h1 New parents 
                        p You’re dealing with diapers, drool and midnight feedings. Now you're supposed to think about saving for college? We make it easy.
                        h3 Start now. Start small. Baby steps.
                        a(href="") Learn more &#8594
                .carousel-item
                    img.col-5(src='./2.png', alt='...', itemprop="carouselImage1", value="2")
                    article.col-7.float-right
                        h1 Growing family
                        p Now that you have more than one child, it feels like it's time to get serious about saving for their future.
                        h3 Kickstart a new savings plan.
                        a(href="") Learn more &#8594
                .carousel-item
                    img.col-5(src='./3.png', alt='...', itemprop="carouselImage1", value="3")
                    article.col-7.float-right
                        h1 Up next, college
                        p Your child is starting to apply to colleges, and reality is setting in: There’s a gap between what you have and what it costs.
                        h3 Let’s figure out a plan. 
                        a(href="") Learn more &#8594
                .carousel-item
                    img.col-5(src='./4.png', alt='...', itemprop="carouselImage1", value="4")
                    article.col-7.float-right
                        h1 On campus
                        p With your child on campus, you need to stretch your money now and tackle how to handle the debt that’s coming later.
                        h3 Let’s plan the next step.
                        a(href="") Learn more &#8594
                .carousel-item
                    img.col-5(src='5.png', alt='...', itemprop="carouselImage1", value="5")
                    article.col-7.float-right
                        h1 Grandparents
                        p You adore your grandchildren and want to show it by helping with the costs of college. Best grandparents ever!
                        h3 Here’s how to contribute.
                        a(href="") Learn more &#8594

    .showMob.hideDesk.slide__list
            ul
                li
                    h1 New parents 
                    img(src='./1.png', alt='...', itemprop="carouselImage1", value="1")
                    article
                        p You’re dealing with diapers, drool and midnight feedings. Now you're supposed to think about saving for college? We make it easy.
                        h3 Start now. Start small. Baby steps.
                        a(href="") Learn more &#8594
                li
                    h1 Growing family
                    img(src='./2.png', alt='...', itemprop="carouselImage1", value="2")
                    article
                        p Now that you have more than one child, it feels like it's time to get serious about saving for their future.
                        h3 Kickstart a new savings plan.
                        a(href="") Learn more &#8594
                li
                    h1 Up next, college
                    img(src='./3.png', alt='...', itemprop="carouselImage1", value="3")
                    article
                        p Your child is starting to apply to colleges, and reality is setting in: There’s a gap between what you have and what it costs.
                        h3 Let’s figure out a plan. 
                        a(href="") Learn more &#8594
                li
                    h1 On campus
                    img(src='./4.png', alt='...', itemprop="carouselImage1", value="4")
                    p With your child on campus, you need to stretch your money now and tackle how to handle the debt that’s coming later.
                    h3 Let’s plan the next step.
                    a(href="") Learn more &#8594
                li
                    h1 Grandparents
                    img(src='./5.png', alt='...', itemprop="carouselImage1", value="5")
                    article
                        p You adore your grandchildren and want to show it by helping with the costs of college. Best grandparents ever!
                        h3 Here’s how to contribute.
                        a(href="") Learn more &#8594
                        


