.slide{

        &__inner{
            padding-top: 55px;
            max-width: 1100px;
            margin: auto;
        }
        &__indicators{
            margin-left: 2%;
            margin-right: 0;
            position: relative;
        }
        &__indicatorsli{
            text-indent:0!important;
            width:200px!important;
            height: 40px;
            background-color: transparent;
        }
        &__indicatorsa{
            color: black!important;
            font-size:1.33rem;
            text-decoration: none!important;
        }
        &__indicatorsa:hover{
            border-bottom: 4px solid #b42573;
        }
        .carousel-indicators 
        {
            .active{
                a{
                    font-weight: bold;
                    border-bottom: 4px solid #b42573;
                }
            }
        }
        
        &__article{
            float: right;
        }
        &__heading{
            font-size: 2rem;
        }
        &__para{
            font-size: 1.5rem;
        }
        &__subhead{
            font-size: 1.6rem;
        }
        &__link{
            font-size: 19px;
            font-weight: bold;
            text-decoration: none!important;
        }
        @media (max-width: 767px) {
            &__item{
                padding-top: 60px;
                text-align: center;
            }
            &__heading{
                font-size: 1.5rem;
            }
            &__para,&__subhead{    
                font-size: 1rem;
            }
            .carousel-item{
                display: contents;
            }
        }
}




