.fcontainer
    .fcontainer__content.col-5
        article
            span PLAN
            br
            h2 Your savings plan: Start now.
            br
            p You can do this. We make it simple to figure out what, when and how much to save.
            br
            h3 Let’s do the math.
            br
        .fcontainer__content__cal
            .fcontainer__content__cal_first.col-6
                img(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png", alt="")
                p I want to see how much my savings can grow over time.
                a(href="") Go to savings calculator ->
            .fcontainer__content__cal_second.col-6
                img(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png", alt="")
                p I want to compare college costs and create a savings plan.
                a(href="") Go to savings calculator ->
    .fcontainer__img.col-5
        img(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/father-walking-with-young-son.png", alt="")