.fcontainer {
    padding-bottom: 100px;
    &__content {
        position: relative;
        left: 106px;
        top: 60px;
        h3{
            font-size: 22px!important;
        }
        p{
            font-size: 21px!important;
        }
        &__cal{
            p{
                font-size: 16px!important;
            }
        }
    }

}

@media (max-width: 1200px){
    .fcontainer__img{
        img{
            max-width: 455px; 
            padding-top: 175px;
        }
    }

} 
@media (max-width: 991px){
    .fcontainer__img{
        img{
            max-width: 100%; 
        }
    }
    .fcontainer__content{
        text-align: center;
        left: 0;
        &__cal{
            text-align: left;
            padding-left: 30px;
        }
    }

}
