.hero {
    background-image: url("../images/mother-holding.jpg");
    background-size: cover;
    position: relative;
    margin: {
        bottom: 0;
    }
    min-height: 35vw;
    &__heading{
        font-size: 2.1rem;
        line-height: 1.32;
        // padding-left: 15px;
        // padding-right: 15px;
    }
    &__para{
        font-size: 1.5rem;
        line-height: 1.32;
        // padding-left: 15px;
        // padding-right: 15px;
    }
    &__subhead{
        font-size: 2rem;
    }
    &__writing{
        width: 75vw;
        height: 20vw;
        position: absolute;
        top: 10vw;
        left: 140px;
    }

    @media (max-width: 1050px){
        background-image: url("../images/mother-holding2.jpg");
        min-height: 610px;
        &__writing{
            width: 83vw;
            height: 20vw;
            position: absolute;
            top: 155px;
            left: 74px;
        }
        &__heading{
            font-size: 1.7rem;
        }
        &__para{
            font-size: 1.2rem;
            padding-right: 197px;
        }
        &__subhead{
            font-size: 1.8rem;
        }
    }
    @media (max-width: 590px){
        background-image: url("../images/mother-holding3.jpg");
        &__writing{
            width: 75vw;
            height: auto;
            text-align: center;
            background-color: white;
            top: 290px;
            opacity: .8;
            margin-left: 13%;
            padding-top: 40px;
            left: 0px;
        }
        &__para{
            padding: 0;
            font-size: 1rem;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__heading{
            font-size: 1.5rem;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__subhead{
            font-size: 1.5rem;
        }
    }    

}


 




