.jumbotron(itemscope)
    h1.display-4(itemprop="heroTitle") Hello, world!
    p.lead(itemprop="heroContent")
        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    