.hero
    img(src="../images/logo-virginia.webp", alt="logo-virginia",style="position: absolute;right:5px;top:10px;")
    .hero__writing   
        h1.hero__heading Can I put him through college without a mountain of debt?
        p.hero__para
            | With CollegeAmerica® from Capital Group, the nation’s largest 529 education savings plan.
        h2.hero__subhead I can.
