.socialmedia(itemscope)
    ul.socialmedia__list
        li.socialmedia__item
            a(href="#top")
                img.socialmedia__icon(src="../images/UpArrow.png", alt="Up Arrow",width="30px",height="30px")
        li.socialmedia__item
            a(href="#",itemprop="Capital group feedback")
                img.socialmedia__icon(src="../images/Feedback.jpg", alt="Feedback Logo",width="30px",height="30px")
        li.socialmedia__item
            a(href="#",itemprop="Capital group Mail")
                img.socialmedia__icon(src="../images/MailLogo.png", alt="Mail Logo",width="30px",height="30px")
        li.socialmedia__item
            a(href="#",itemprop="Capital group facebook")
                img.socialmedia__icon(src="../images/FacebookLogo.png", alt="facebook Logo",width="30px",height="30px")
        li.socialmedia__item
            a(href="#",itemprop="Capital group linkedin")
                img.socialmedia__icon(src="../images/LinkedinLogo.png", alt="Linkedin Logo",width="30px",height="30px")
        li.socialmedia__item
            a(href="#",itemprop="Capital group twitter")
                img.socialmedia__icon(src="../images/TwitterLogo.png", alt="Twitter Logo",width="30px",height="30px")
