.socialmedia
    ul
        li
            a(href="")
                img(src="./UpArrow.png", alt="",width="30px",height="30px")
        li
            a(href="")
                img(src="./Feedback.jpg", alt="",width="30px",height="30px")
        li
            a(href="")
                img(src="./MailLogo.jpg", alt="",width="30px",height="30px")
        li
            a(href="")
                img(src="./FacebookLogo.png", alt="",width="30px",height="30px")
        li
            a(href="")
                img(src="./LinkedinLogo.png", alt="",width="30px",height="30px")
        li
            a(href="")
                img(src="./TwitterLogo.png", alt="",width="30px",height="30px")