.socialmedia
    ul
        li
            a(href="")
                img(src="./images/UpArrow.png", alt="Up Arrow",width="30px",height="30px")
        li
            a(href="")
                img(src="./images/Feedback.jpg", alt="Feedback Logo",width="30px",height="30px")
        li
            a(href="")
                img(src="./images/MailLogo.png", alt="Mail Logo",width="30px",height="30px")
        li
            a(href="")
                img(src="./images/FacebookLogo.png", alt="facebook Logo",width="30px",height="30px")
        li
            a(href="")
                img(src="./images/LinkedinLogo.png", alt="Linkedin Logo",width="30px",height="30px")
        li
            a(href="")
                img(src="./images/TwitterLogo.png", alt="Twitter Logo",width="30px",height="30px")