.nav1 {
    background-color: black;
    height: 32px;
    .col-lg-4.col-md-4,.left,ul,li,a{
        height: inherit;
        margin: 0;
        padding: 0;
    }
    .col-6{
        a{
            padding: 10px 35px 10px 35px;
        }
    }
    .left {
        ul{
            display:flex;
            justify-content: flex-end;
        }

        background-color: black;
        li{
        width: 153px;
        text-align: center;
        border-left: 1px solid rgb(255, 255, 255);
            a{
                padding: 10px 45px 10px 45px;
            }
        }
    }
    a {
        color: white;
        font-size: 12px;
        font-weight: 500;
    }
    li:hover {
        background-color: #009adf;
    }
    .login {
        background-color: #009adf;
    }
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
@media (max-width: 768px){
    .nav1{
        .col-lg-4.col-md-4{
            text-align: center;
        }
        .left{
            ul{
                justify-content: center;
            }
        }
    }
}