.row.nav1
    .col-lg-4.col-md-4
        ul
            li
                a(href="") Other sites: Individual Investors 
    .col-lg-7.left.col-md-7
        ul
            li
                a(href='#') Contact Us 
            li
                a(href='#') Preference
            li.login
                a(href='#') Login

