footer.footer
    .footer__first
        .footer__writing
            ol.footer__noList
                li.footer__item Largest by assets, according to the 1Q 2018 529 College Savings Quarterly Data Update from Strategic Insight.
                li.footer__item As of September 30, 2018, CollegeAmerica AUM is $60B.
                li.footer__item Number of accounts as of September 30, 2018, Strategic Insight.
                li.footer__item CollegeAmerica has some of the lowest expenses in the 529 industry, according to Morningstar's "529 College-Savings Plan Landscape," May 2016.
            article.footer__article
                span.footer__span Investments are not FDIC-insured, nor are they deposits of or guaranteed by a bank or any other entity, so they may lose value.
                    br
                    | Investors should carefully consider investment objectives, risks, charges and expenses. This and other important information is contained in the fund 
                    a.footer__link(href="#") prospectuses, summary prospectuses 
                    | and 
                    a.footer__link(href="#") CollegeAmerica Program Description
                    | , which can be obtained from a financial professional and should be read carefully before investing. CollegeAmerica is distributed by American Funds Distributors, Inc. and sold through unaffiliated intermediaries. 
                    br
                    | Depending on your state of residence, there may be an in-state plan that provides state tax and other state benefits, such as financial aid, scholarship funds and protection from creditors, not available through CollegeAmerica. 
                
                | Before investing in any state's 529 plan, investors should consult a tax advisor. 
                br
                | If withdrawals from 529 plans are used for purposes other than qualified education expenses, the earnings will be subject to a 10% federal tax penalty in addition to federal and, if applicable, state income tax. State tax treatment of K-12 withdrawals varies. Please consult your tax advisor for state-specific details.
                br
                | American Funds Distributors, Inc., member FINRA.
                br
                | This content, developed by Capital Group, home of American Funds, should not be used as a primary basis for investment decisions and is not intended to serve as impartial investment or fiduciary advice.
                br
                |Statements attributed to an individual represent the opinions of that individual as of the date published and do not necessarily reflect the opinions of Capital Group or its affiliates. This information is intended to highlight issues and should not be considered advice, an endorsement or a recommendation. 
    .footer__socialmedia
        include ../../components/footerSocial/footerSocial.pug
    .footer__list
        include ../../components/footerList/footerList.pug
    .footer__copyright
        include ../../components/footerCopywrite/footerCopywrite.pug

            



