footer.footer
    .footer__first
        .footer__first__writing
            ol
                li Largest by assets, according to the 1Q 2018 529 College Savings Quarterly Data Update from Strategic Insight.
                li As of September 30, 2018, CollegeAmerica AUM is $60B.
                li Number of accounts as of September 30, 2018, Strategic Insight.
                li CollegeAmerica has some of the lowest expenses in the 529 industry, according to Morningstar's "529 College-Savings Plan Landscape," May 2016.
            article
                span Investments are not FDIC-insured, nor are they deposits of or guaranteed by a bank or any other entity, so they may lose value.
                    br
                    | Investors should carefully consider investment objectives, risks, charges and expenses. This and other important information is contained in the fund 
                    a(href="") prospectuses, summary prospectuses 
                    | and 
                    a(href="") CollegeAmerica Program Description
                    | , which can be obtained from a financial professional and should be read carefully before investing. CollegeAmerica is distributed by American Funds Distributors, Inc. and sold through unaffiliated intermediaries. 
                    br
                    | Depending on your state of residence, there may be an in-state plan that provides state tax and other state benefits, such as financial aid, scholarship funds and protection from creditors, not available through CollegeAmerica. 
                
                | Before investing in any state's 529 plan, investors should consult a tax advisor. 
                br
                | If withdrawals from 529 plans are used for purposes other than qualified education expenses, the earnings will be subject to a 10% federal tax penalty in addition to federal and, if applicable, state income tax. State tax treatment of K-12 withdrawals varies. Please consult your tax advisor for state-specific details.
                br
                | American Funds Distributors, Inc., member FINRA.
                br
                | This content, developed by Capital Group, home of American Funds, should not be used as a primary basis for investment decisions and is not intended to serve as impartial investment or fiduciary advice.
                br
                |Statements attributed to an individual represent the opinions of that individual as of the date published and do not necessarily reflect the opinions of Capital Group or its affiliates. This information is intended to highlight issues and should not be considered advice, an endorsement or a recommendation. 
    .footer__socialmedia
        .footer__socialmedia__writing
            ul
                li 
                    span STAY CONNECTED:
                li 
                    a(href="") Contact Us
                li
                    ul
                        li 
                            span Follow Us
                        li
                            a(href="")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/linkedin.png", alt="")
                        li
                            a(href="")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/twitter.png", alt="")
                        li
                            a(href="")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/facebook.png", alt="")
                        li
                            a(href="")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/youtube.png", alt="")
                        li
                            a(href="")
                                img(src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/instagram.png", alt="")
            ul
                li 
                    span ABOUT AMERICAN FUNDS:
                li
                    a(href="") Our Company
                li
                    a(href="") News
                li
                    a(href="") Security
                li
                    a(href="") Policies
                li
                    a(href="") Media Relations
                li
                    a(href="") Careers
    .footer__list
        .showMob.hideDesk
            include ../../components/accordion/accordion.pug
        .showDesk.hideMob
            .footer__list__writing
                ul
                    li MY ACCOUNTS
                    li
                        a(href="")  View Portfolio
                    li
                        a(href="") Portfolio Value History
                    li
                        a(href="") Statements & Tax Forms
                    li
                        a(href="") Sign Up for Paperless Delivery of Documents
                ul
                    li INVESTMENTS
                    li
                        a(href="") All American Funds
                    li
                        a(href="") Compare Funds
                    li
                        a(href="") Prospectuses & Annual Reports
                ul
                    li INSIGHTS
                    li
                        a(href="") Investment Insights
                ul
                    li PRODUCTS
                    li
                        a(href="") Traditional and Roth IRAs
                    li
                        a(href="") SIMPLE IRAs
                    li
                        a(href="") 401(k) Plans
                    li
                        a(href="") CollegeAmerica® 529 Plans
                    li
                        a(href="") Portfolio Series
                ul
                    li PLANNING
                    li
                        a(href="") Tools & Calculators
                    li
                        a(href="") Investing Fundamentals
                    li
                        a(href="") Mutual Fund Basics
                    li
                        a(href="") Creating a Financial Plan
                    li
                        a(href="") Retirement Planning
                    li
                        a(href="") College Savings
                    li
                        a(href="") Market Fluctuations
                ul
                    li SERVICE & SUPPORT
                    li
                        a(href="") Forms
                    li
                        a(href="") Tax Center
                    li
                        a(href="") How to Use Your Account
                    li
                        a(href="") Changing Your Preferences
                    li
                        a(href="") Contact Us
    .footer__copyright
        .footer__copyright__writing
            ul.footer__copyright__writing__first
                li 
                    a(href="") Copyright © 
                    | 2019 Capital Group. All rights reserved.
                li Securities offered through American Funds Distributors, Inc.
            ul.footer__copyright__writing__privacy
                li 
                    a(href="") PRIVACY 
                li
                    a(href="") Account Agreement 
                li
                    a(href="") Business Continuity
                li
                    a(href="")  Capital Group Worldwide
            



