.footer {
    margin: 0;
    padding: 0;
    span{
        font-weight: bold;
    }    
    a{
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
    &__first{
        background-color: rgb(242, 242, 242);
        &__writing{
            padding-top: 26px;
            max-width: 1000px;
            margin: auto;
            ol{
                padding-top: 4px;
                padding-bottom: 100px;
                li{
                    padding-bottom: 10px;
                    font-size: 1em;
                    color: rgb(51, 51, 51);
                }
            }
            article{
                color: rgb(51, 51, 51);
                font-size: 1rem;
                padding-left: 41px;
                padding-bottom: 35px;
    
            }
            @media (max-width:768px) {
                ol{
                    li{
                        font-size: .8rem;
                    }
                }
                article{
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: .9rem
                }
            }

        }

    }
    &__socialmedia{
        background-color: rgb(229, 229, 229);
        &__writing{
            max-width: 1000px;
            margin: auto;
            padding-top: 18px;
            padding-bottom: 18px;
  
            ul {
                padding: 0 0 0 31px;
                li {
                    display: inline-block;
                    padding-left: 10px;
                    font-size: .9rem;
                }
            }

        }
        
    }
    &__list{
        background-color: rgb(153, 153, 153);
        &__writing{
            padding-top: 30px;
            max-width: 1000px;
            margin: auto;
            display: flex;
            ul{
                color: rgb(255, 255, 255);
                li{
                    max-width: 170px;
                    padding-bottom: 15px;
                    a{
                        color: inherit;
                    }
                }
            }
        }
        @media (max-width: 1025px){
            ul{
                font-size: .85rem;
                a{
                    font-size: inherit;
                }
            }
        }
    }

    &__copyright{
        background-color: rgb(229, 229, 229);
        &__writing{
            max-width: 1000px;
            margin: auto;
            padding-top: 33px;
            color: rgb(51, 51, 51);
            display: flex;
            &__privacy{
                li{
                    display: inline-block;
                }
            }
            ul {
                li{
                    padding-right: 10px;
                    font-size: .8rem;
                }
            }
            &__first{
                li{
                    font-size: .7rem;
                    padding-bottom: 40px;
                    }
                }
            }
            @media (max-width: 768px){
                &__writing{
                    display: block;
                    li{
                        padding-bottom: 20px;
                    }
                }
            }
        }
}
