
.legalfooter
  .container80percent
   .row
    .col-md-6
       p
        a(href='#') Copyright
        | &nbsp;&copy;&nbsp;2019 Capital Group. All rights reserved.
       p Securities offered through American Funds Distributors, Inc.&nbsp;
       p &nbsp;
       
       a(href='#')
         img(src='https://cdn.betrad.com/pub/icon1.png' height='14' alt='icon1') 
         span &nbsp;AdChoices
       div(style={'padding-bottom': '30px !important'})
    .col-md-6.col-sm-12.mb-5
      ul.nav
        li
          a(href='#') PRIVACY
        li
          a(href='#') Account Agreement
        li
          a(href='#') Business Continuity
        li
          a(href='#') Capital Group Worldwide


