
.footerCopy
   .row.footerCopy__content
    .col-md-6
       p.footerCopy__item
        a.footerCopy__link(href='#') Copyright
        | &nbsp;&copy;&nbsp;2019 Capital Group. All rights reserved.
       p(style="padding-top:20px;").footerCopy__item Securities offered through American Funds Distributors, Inc.&nbsp;
       p.footerCopy__item &nbsp;
       
       a(href='#')
         img(src='https://cdn.betrad.com/pub/icon1.png' height='14' alt='icon1') 
         span.footerCopy__item.footerCopy__link &nbsp;AdChoices
       div(style={'padding-bottom': '30px !important'})
    .col-md-6.col-sm-12
      ul.nav
        li(style="padding-right:10px;padding-left:10px;border-right:1px solid grey;")
          a.footerCopy__link.footerCopy__link--weight-bold(href='#') PRIVACY
        li(style="padding-right:10px;padding-left:10px;border-right:1px solid grey;")
          a.footerCopy__link.footerCopy__link--weight-bold(href='#') Account Agreement
        li(style="padding-right:10px;padding-left:10px;border-right:1px solid grey;")
          a.footerCopy__link.footerCopy__link--weight-bold(href='#') Business Continuity
        li(style="padding-left:10px;")
          a.footerCopy__link.footerCopy__link--weight-bold(href='#') Capital Group Worldwide




