.flist{
    background-color: rgb(153, 153, 153);
    &__writing{
        padding-top: 30px;
        max-width: 1000px;
        margin: auto;
        display: flex;
    }
    &__link{
        color: rgb(255, 255, 255)!important;
    }
    &__item{
        max-width: 170px;
        padding-bottom: 15px;
        color: rgb(255, 255, 255)!important;
        font-size: 14px;
        list-style-type: none;
        font-weight: bold;
    }
    @media (max-width: 1025px){
        &__link{

            font-size: .85rem!important;
        }
    }
}