.flist
    .showMob.hideDesk
        include ../../components/accordion/accordion.pug
    .showDesk.hideMob
        .flist__writing
            ul.flist__list
                li.flist__item MY ACCOUNTS
                li.flist__item
                    a.flist__link(href="#")  View Portfolio
                li.flist__item
                    a.flist__link(href="#") Portfolio Value History
                li.flist__item
                    a.flist__link(href="#") Statements & Tax Forms
                li.flist__item
                    a.flist__link(href="#") Sign Up for Paperless Delivery of Documents
            ul
                li.flist__item INVESTMENTS
                li.flist__item
                    a.flist__link(href="#") All American Funds
                li.flist__item
                    a.flist__link(href="#") Compare Funds
                li.flist__item
                    a.flist__link(href="#") Prospectuses & Annual Reports
            ul
                li.flist__item INSIGHTS
                li.flist__item
                    a.flist__link(href="#") Investment Insights
            ul
                li.flist__item PRODUCTS
                li.flist__item
                    a.flist__link(href="#") Traditional and Roth IRAs
                li.flist__item
                    a.flist__link(href="#") SIMPLE IRAs
                li.flist__item
                    a.flist__link(href="#") 401(k) Plans
                li.flist__item
                    a.flist__link(href="#") CollegeAmerica® 529 Plans
                li.flist__item
                    a.flist__link(href="#") Portfolio Series
            ul
                li.flist__item PLANNING
                li.flist__item
                    a.flist__link(href="#") Tools & Calculators
                li.flist__item
                    a.flist__link(href="#") Investing Fundamentals
                li.flist__item
                    a.flist__link(href="#") Mutual Fund Basics
                li.flist__item
                    a.flist__link(href="#") Creating a Financial Plan
                li.flist__item
                    a.flist__link(href="#") Retirement Planning
                li.flist__item
                    a.flist__link(href="#") College Savings
                li.flist__item
                    a.flist__link(href="#") Market Fluctuations
            ul
                li.flist__item SERVICE & SUPPORT
                li.flist__item
                    a.flist__link(href="#") Forms
                li.flist__item
                    a.flist__link(href="#") Tax Center
                li.flist__item
                    a.flist__link(href="#") How to Use Your Account
                li.flist__item
                    a.flist__link(href="#") Changing Your Preferences
                li.flist__item
                    a.flist__link(href="#") Contact Us