extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="socialmedia.css")

block pageTitle
    title Sticky Nav Page

block content
    .content
        include ../../components/socialmedia/socialmedia.pug