extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="footer.css")

block pageTitle
    title footer

block content
    .content
        include ../../components/footer/footer.pug