<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- meta(property="og:title", content="College Savings" )     
        meta(property="twitter:card", content="summary_large_image")
        meta(property="twitter:title", content="College Savings")
        meta(property="twitter:description", content="Get an education in college planning and saving with information and tips to help fund your child’s future goals. ")
        meta(name="description",content="Get an education in college planning and saving with information and tips to help fund your child’s future goals. ")
        
        block pageStyles
            link(rel="stylesheet", href="css/homepage.css")
        block pageScripts
            script(src="")
        block pageTitle
            title Default Page
        
    body
        block content
        
