extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="dropdowns.css")

block pageTitle
    title Sticky Nav Page

block content
    .content
        include ../../components/dropdowns/dropdown1.pug