.fsocial
        .fsocial__writing
            ul.fsocial__list
                li.fsocial__item 
                    span STAY CONNECTED:
                li.fsocial__item(style="border-right: 1px solid black;")
                    a(href="#") Contact Us
                li.fsocial__item
                    ul.fsocial__list(style="padding-left:5px;")
                        li.fsocial__item 
                            span Follow Us
                        li.fsocial__item
                            a(href="#")
                                img(src="../images/linkedin.webp", alt="Linkedin logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="../images/twitter.webp", alt="Twitter Logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="../images/facebook.webp", alt="Facebook Logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="../images/youtube.webp", alt="Youtube Logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="../images/instagram.webp", alt="Instagram logo")
            ul.fsocial__list
                li.fsocial__item
                    span ABOUT AMERICAN FUNDS:
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Our Company
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") News
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Security
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Policies
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Media Relations
                li.fsocial__item
                    a(href="#") Careers