.fsocial{
    background-color: rgb(229, 229, 229);
    &__writing{
        max-width: 1000px;
        margin: auto;
        padding-top: 18px;
        padding-bottom: 18px;

    }

    &__list {
        padding: 0 0 0 31px;

    }
    &__item{
            display: inline-block;
            padding-left: 10px;
            font-size: .9rem;
            padding-right: 10px;
            
    }
    &__bitem{
        font-weight: bold;
    }
}