.dropdown(style="max-width:970px")
    ul.nav(style="background-color:rgb(0, 154, 223)")
        li.nav-item
            h2 INVESTMENTS
        li.nav-item
            a.nav-link(href='#') See All
    .dropdown__contents.row(style="background-color:black;")
        .col-4
            ul
                li AMERICAN FUNDS                                                                   
                li
                    a(href="") Returns
                li
                    a(href="") Symbols & Fund Numbers
                li
                    a(href="") Prospectuses & Reports
            ul
                li OTHER INVESTMENTS
                li in Products & Solutions
                li
                    a(href="") Insurance Series
        .col-4
            ul
                li Compare

                li
                    a(href="") Investment Tracker

                li
                    a(href="") Find Historical Prices

                li
                    a(href="") Find Historical Distributions

                li
                    a(href="") Share Class Information
            ul  
                li  
                li
                    a(href="") Market Indices
        .dropdown__contents__img(style="margin:auto;padding-bottom:10px;")
            a(href="")
                img(src="./images/dropdown1.webp", alt="",style="max-width:920px;max-height:102px;width:100%;") 
