.dropdown(style="max-width:970px")
    ul.nav(style="background-color:rgb(0, 154, 223)")
        li.nav-item
            h2 MY ACCOUNTS
        li.nav-item
            a.nav-link(href='#') See All
    .dropdown__contents.row(style="background-color:black;display")
        .col-3
            ul
                li CATEGORIES
                li
                    a(href="") Investment Insights
                li
                    a(href="") The Capital Advantage
        .col-3
            ul
                li CAPITAL IDEAS

                li View Capital Ideas for more on:
                li
                    a(href="") Viewpoints
                li
                    a(href="") Portfolio Construction
                li
                    a(href="") Retirement
        .col-3
            ul
                li
                li
                    a(href="") U.S. Equities
                li
                    a(href="") Global Equities
                li
                    a(href="") Emerging Markets
                li
                    a(href="") Fixed Income
            
        .col-lg-3
            ul
                li FEATURED
                li
                    a(href="")
                        .img_container
                            h3 2019 Outlook
                            img(src="../images/dropdown2.webp", alt="",width="100%")
                            p READ
                li(style="padding-top: 40px;")
                    a(href="") 
                        .img_container
                            h3 The Capital Advantage®
                            img(src="../images/dropdown3.webp", alt="",width="100%")
                            p READ