.dropdown{
    position: absolute;
    right: 10px;
    width: 90%;
    // top: 93px;
    z-index: 2000;
    li{color: #fff;
        padding-left: 30px;
        list-style-type:none ;
        a{
            color: #fff;
        }
    }
    &__contents{
        width: 100%;
        margin: 0;
        ul{
            padding-bottom: 40px;
            padding-top: 25px;
            padding-left: 0;
        }
        margin: 0;
        .img_container{
            border: 1px solid #fff;
            p{  margin: 0;
                padding-top:10px;
                padding-bottom: 10px; 
                background-color: #fff;
                color: blue;
            }
            max-width: 205px;
            max-height: 205px;
        }
    }
}