.dropdown(style="max-width:970px")
    ul.nav(style="background-color:rgb(0, 154, 223)")
        li.nav-item
            h2 INVESTMENTS
        li.nav-item
            a.nav-link(href='#') See All
    .dropdown__contents.row(style="background-color:black;display")
        .col-3
            ul
                li INVESTMENT OPTIONS                                                                  
                li
                    a(href="") Mutual Funds
                li
                    a(href="") Insurance Series
                li
                    a(href="") FUNDS OF FUNDS
                li
                    a(href="") Portfolio Series
                li
                    a(href="") Retirement Income Portfolio Series
                li
                    a(href="") Target Date Retirement Series       
                li
                    a(href="") College Target Date Series               
        .col-3
            ul
                li EDUCATION SAVINGS

                li
                    a(href="") CollegeAmerica 529 Plans

                li
                    a(href="") Coverdell Education Savings Accounts

                li
                    a(href="") UGMA/UTMA Accounts
        .col-3
            ul
                li RETIREMENT                                                                  
                li
                    a(href="") Traditional/Roth IRAs
                li
                    a(href="") 401(k) Plans
                li
                    a(href="") 403(b) Plans
                li
                    a(href="") SIMPLE IRAs
                li
                    a(href="") SEP Plans
                li
                    a(href="") Payroll Deduction IRAs 
        .col-lg-3
            ul 
                li OTHER TAX-ADVANTAGED ACCOUNTS
                li
                    a(href="") ABLE Accounts

        .dropdown__contents__img(style="margin:auto;padding-bottom:10px;")
            a(href="")
                img(src="../images/dropdown4.webp", alt="",width="100%") 
