.row.nav1
    .col-md-4.nav1__left
        ul.nav1__leftList
            li.nav1__item.nav1__item--margin--auto( style="width: 265px;")
                a.nav1__leftLink.nav1__link(href="#") 
                    span(style="font-weight:bold;") Other sites
                    | : Individual Investors &nbsp; &#709;
    .nav1__right.col-md-8
        ul.nav1__rightList
            li.nav1__item.nav1__Ritem
                a.nav1__link(href='#') Contact Us 
            li.nav1__item.nav1__Ritem
                a.nav1__link(href='#') Preference
            li.nav1__item--blue.login.nav1__Ritem
                a.nav1__link(href='#') Login

