nav.navbar.navbar-expand-lg.nav1
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
       li.nav-item.dropdown
       a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
           | Other sites: Individual Investors
       .dropdown-menu(aria-labelledby='navbarDropdown')
           a.dropdown-item(href='#') Action
           a.dropdown-item(href='#') Another action
           .dropdown-divider
           a.dropdown-item(href='#') Something else here

  #navbarSupportedContent
    ul.navbar-nav.mr-auto.left
      li.nav-item.active
        a.nav-link(href='#') Contact Us 
      li.nav-item
        a.nav-link(href='#') Preference
      li.nav-item.login
        a.nav-link(href='#') Login

