.nav1 {
    background-color: black;
    height: 32px;
    width: 100%;
    margin: 0;
    &__left,&__right,&__leftList,&__rightList,&__item,&__link{
        height: 32px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none!important;
    }
    &__leftLink{
        padding: 10px 35px 10px 35px;
    }

    &__right {
        background-color: black;
    }
    &__rightList{
        display:flex;
        justify-content: flex-end;
        padding-right: 30px;
    }
    &__Ritem{
        width: 153px;
        text-align: center;
        border-left: 1px solid rgb(255, 255, 255);
    }
    &__link {
        color: white!important;
        font-size: 12px;
        font-weight: 500;
    }
    &__item:hover {
        background-color: #009adf;
    }
    &__item--blue {
        border-right: 1px solid white;
        background-color: #009adf;
    }
    @media (max-width: 767px){

        &__Ritem{
            border: 1px solid white;
            width: 34%;
        }
        &__left{
            text-align: center;
            padding: 0;
        }
        &__rightList{
            justify-content: center;
            padding-right: 0;
    
        }
        &__item--margin--auto{
            margin: auto!important;
        }
    }
    
}
