#accordionExample.accordion(itemscope)
    .card.accordion__card
        #headingOne.card-header.accordion__cardheader
            h2.mb-0
                button.btn.btn-link.collapsed.accordion__btn(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    | &nbsp; MY ACCOUNTS
        #collapseOne.collapse.accordion__content(aria-labelledby='headingOne', data-parent='#accordionExample')
                ul.accordion__list
                    li
                        a.accordion__a(href="")  View Portfolio
                    li
                        a.accordion__a(href="") Portfolio Value History
                    li
                        a.accordion__a(href="") Statements & Tax Forms
                    li
                        a.accordion__a(href="") Sign Up for Paperless Delivery of Documents
    .card.accordion__card
        #headingTwo.card-header.accordion__cardheader
            h2.mb-0
                button.btn.btn-link.collapsed.accordion__btn(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    | &nbsp; INVESTMENTS
        #collapseTwo.collapse.accordion__content(aria-labelledby='headingTwo', data-parent='#accordionExample')
                ul.accordion__list
                    li
                        a.accordion__a(href="") All American Funds
                    li
                        a.accordion__a(href="") Compare Funds
                    li
                        a.accordion__a(href="") Prospectuses & Annual Reports
    .card.accordion__card
        #headingThree.card-header.accordion__cardheader
            h2.mb-0
                button.btn.btn-link.collapsed.accordion__btn(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                    | &nbsp; INSIGHTS
        #collapseThree.collapse.accordion__content(aria-labelledby='headingThree', data-parent='#accordionExample')
                ul.accordion__list
                    li
                        a.accordion__a(href="") Investment Insights
    .card.accordion__card
        #headingThree.card-header.accordion__cardheader
            h2.mb-0
                button.btn.btn-link.collapsed.accordion__btn(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                    | &nbsp; PRODUCTS
        #collapseFour.collapse.accordion__content(aria-labelledby='headingFour', data-parent='#accordionExample')
            ul.accordion__list
                li
                    a.accordion__a(href="") Traditional and Roth IRAs
                li
                    a.accordion__a(href="") SIMPLE IRAs
                li
                    a.accordion__a(href="") 401(k) Plans
                li
                    a.accordion__a(href="") CollegeAmerica® 529 Plans
                li
                    a.accordion__a(href="") Portfolio Series
    .card.accordion__card
        #headingTwo.card-header.accordion__cardheader
            h2.mb-0
                button.btn.btn-link.collapsed.accordion__btn(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                    | &nbsp; PLANNING
        #collapseFive.collapse.accordion__content(aria-labelledby='headingFive', data-parent='#accordionExample')
                ul.accordion__list
                    li
                        a.accordion__a(href="") Tools & Calculators
                    li
                        a.accordion__a(href="") Investing Fundamentals
                    li
                        a.accordion__a(href="") Mutual Fund Basics
                    li
                        a.accordion__a(href="") Creating a Financial Plan
                    li
                        a.accordion__a(href="") Retirement Planning
                    li
                        a.accordion__a(href="") College Savings
                    li
                        a.accordion__a(href="") Market Fluctuations
    .card.accordion__card
        #headingThree.card-header.accordion__cardheader
            h2.mb-0
                button.btn.btn-link.collapsed.accordion__btn(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                    | &nbsp; SERVICE & SUPPORT
        #collapseSix.collapse.accordion__content(aria-labelledby='headingSix', data-parent='#accordionExample')
                ul.accordion__list
                    li    
                        a.accordion__a(href="") Forms
                    li
                        a.accordion__a(href="") Tax Center
                    li
                        a.accordion__a(href="") How to Use Your Account
                    li
                        a.accordion__a(href="") Changing Your Preferences
                    li
                        a.accordion__a(href="") Contact Us
            

                