.accordion {
  &__card{
    background-color:  rgb(94, 93, 93)!important;
  }
  &__cardheader{
    padding: 0!important;
    background-color: rgb(153, 153, 153)!important;
  }
  &__btn{
    color: white!important;
    text-decoration: none!important;
    font-size: 13px;
    font-weight: bold;
  }
  &__content{
    background-color: rgb(94, 93, 93)!important;
  }
  &__list{
    list-style-type: none;
  }
  &__a{
    color: white!important;
    font-size: 14px;
  }
  .btn.btn-link{
      &::before {
        content: "\25BC ";
        font-weight: bolder;
        font-size: 10px;
      }
    }

  .btn.btn-link.collapsed{
      &::before{
        content: "\25B8 ";
        font-size: 20px;
        font-weight: bolder;
      }
  }
}
